In [1]:
import pandas as pd
import numpy as np
import string
import csv

In [2]:
from platform import python_version
print(python_version())

3.10.2

In [3]:
print("OK")

OK

In [4]:
# initialize df with 1 row, later append all data to this df
df = pd.read_csv(".\\Datasets\\ArgumentAnnotatedEssays-2.0\\brat-project-final\\essay001.ann", header=None, names=["marker", "annotation_tmp", "sentence"], sep='\t', quoting=csv.QUOTE_NONE, encoding='utf-8').head(1)

In [5]:
df

,marker,annotation_tmp,sentence
0,T1,MajorClaim 503 575,we should attach more importance to cooperatio...

In [6]:
for i in range(1, 403):
    if i < 10:
        curr_df = pd.read_csv(".\\Datasets\\ArgumentAnnotatedEssays-2.0\\brat-project-final\\essay00" + str(i) + ".ann", header=None, names=["marker", "annotation_tmp", "sentence"], sep='\t', quoting=csv.QUOTE_NONE, encoding='utf-8')
        curr_df = curr_df[curr_df['sentence'].notna()]
        curr_df = curr_df.reset_index(drop=True)
        df = pd.concat([df, curr_df], ignore_index=True)
    # essay010 to essay099 
    elif i < 100:
        curr_df = pd.read_csv(".\\Datasets\\ArgumentAnnotatedEssays-2.0\\brat-project-final\\essay0" + str(i) + ".ann", header=None, names=["marker", "annotation_tmp", "sentence"], sep='\t', quoting=csv.QUOTE_NONE, encoding='utf-8')
        curr_df = curr_df[curr_df['sentence'].notna()]
        curr_df = curr_df.reset_index(drop=True)
        df = pd.concat([df, curr_df], ignore_index=True)
    # essay100 - essay402
    else:
        curr_df = pd.read_csv(".\\Datasets\\ArgumentAnnotatedEssays-2.0\\brat-project-final\\essay" + str(i) + ".ann", header=None, names=["marker", "annotation_tmp", "sentence"], sep='\t', quoting=csv.QUOTE_NONE, encoding='utf-8')
        curr_df = curr_df[curr_df['sentence'].notna()]
        curr_df = curr_df.reset_index(drop=True)
        df = pd.concat([df, curr_df], ignore_index=True)
        
        
# drop first dummy row from initialization
df = df.iloc[1:]

In [7]:
# drop duplicate sentences
df = df.drop_duplicates(subset=['sentence'])
df = df.reset_index(drop=True)
df['annotation'] = 'argument'
df = df[['sentence', 'annotation']]
df = df[df['sentence'].notna()]

In [8]:
# sentences = df['sentence']
# clean_sentences = []
# #map punctuation to space
# translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

# for sentence in sentences:
#     # replace punctuation marks with space
#     sentence = sentence.translate(translator)
#     # replace multiple spaces by 1 space
#     sentence = ' '.join(sentence.split())
#     clean_sentences.append(sentence)

In [9]:
# df['sentence'] = clean_sentences

In [10]:
df

                                               sentence annotation
0     we should attach more importance to cooperatio...   argument
1     a more cooperative attitudes towards life is m...   argument
2     through cooperation, children can learn about ...   argument
3     What we acquired from team work is not only ho...   argument
4     During the process of cooperation, children ca...   argument
...                                                 ...        ...
6045  indirectly they will learn how to socialize ea...   argument
6046    That will make children getting lots of friends   argument
6047        they can contribute positively to community   argument
6048  playing sport makes children getting healthy a...   argument
6049  playing sports will give good effects on children   argument

[6050 rows x 2 columns]

In [11]:
df.to_csv("domain_2_arguments_raw.csv", sep='\t', encoding='utf-8')

In [12]:
sents = df['sentence']

In [13]:
longest = 0
shortest = 10000
average = 0
lengths = []
for sentence in sents:
    length = len(sentence.split())
    lengths.append(length)
    if length > longest:
        longest = length
    if length < shortest:
        shortest = length

In [14]:
print(longest)
print(shortest)
print(int(np.average(lengths)))

67
3
15