## IM1

### Execute a jupyter notebook in a virtual env
https://stackoverflow.com/questions/33496350/execute-python-script-within-jupyter-notebook-using-a-specific-virtualenv

1. pip install virtualenvwrapper
2. virtualenv venv
3. .\venv\Scripts\activate
4. (venv) pip install jupyter
5. (venv) pip install ipykernel

Next, set up the kernel

6. (venv) python -m ipykernel install --name venv --display-name "Python3.10.2 (venv)"

Run jupyter notebook

7. (venv) jupyter notebook
8. in jupyter notebook select Krnel "Python3.10.2 (venv)"

In [1]:
from platform import python_version
print(python_version())

3.10.2

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import string
import matplotlib.pyplot as plt
import string
from string import punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
import tensorflow as tf
import csv

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Andrei\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Andrei\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
print("OK")

OK

In [4]:
fields = ['sentence', 'annotation']
file_names = ['abortion', 'cloning', 'death_penalty', 'gun_control', 
              'marijuana_legalization', 'minimum_wage', 'nuclear_energy',
             'school_uniforms']

# initialize df with 1 row, later append all data to this df
df = pd.read_csv(".\\Datasets\\UKP_sentential_argument_mining\\cloning.tsv", sep='\t', usecols=fields, quoting=csv.QUOTE_NONE, encoding='utf-8').head(1)

In [5]:
for file in file_names:
    curr_df = pd.read_csv(".\\Datasets\\UKP_sentential_argument_mining\\" + file + ".tsv", sep='\t', usecols=fields, quoting=csv.QUOTE_NONE, encoding='utf-8')
    df = pd.concat([df, curr_df], ignore_index=True)

# drop first dummy row from initialization
df = df.iloc[1:]

In [6]:
# delete all NoArgument ragarding topic
df = df[df.annotation != 'NoArgument']
# label alll sentences with "argument"
df["annotation"] = "argument"
# drop duplicate sentences
df = df.drop_duplicates(subset=['sentence'])
df = df.reset_index(drop=True)
df = df[df['sentence'].notna()]

In [7]:
# sentences = df['sentence']
# clean_sentences = []
# #map punctuation to space
# translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

# for sentence in sentences:
#     # replace punctuation marks with space
#     sentence = sentence.translate(translator)
#     # replace multiple spaces by 1 space
#     sentence = ' '.join(sentence.split())
#     clean_sentences.append(sentence)

In [8]:
# df['sentence'] = clean_sentences

In [9]:
df

                                                sentence annotation
0      In this case we may never do evil ( directly a...   argument
1      The choice — the only actual choice , in the w...   argument
2      But I am glad I do n't live in a society with ...   argument
3      We live in a world where “ post-birth abortion...   argument
4      We have quotes from hospital documents that do...   argument
...                                                  ...        ...
11121  Even minus the uniform , he adds that bullies ...   argument
11122  More often than not , you will end up tugging ...   argument
11123  You also need to purchase 2 or 3 sets of schoo...   argument
11124  For example , Sikh boys , Orthodox Jews and Is...   argument
11125  School uniforms can be ugly and/or unflatterin...   argument

[11126 rows x 2 columns]

In [10]:
df.to_csv("domain_1_arguments_raw.csv", sep='\t', encoding='utf-8')

In [11]:
sents = df['sentence']

In [12]:
longest = 0
shortest = 10000
average = 0
lengths = []
for sentence in sents:
    length = len(sentence.split())
    lengths.append(length)
    if length > longest:
        longest = length
    if length < shortest:
        shortest = length

In [13]:
print(longest)
print(shortest)
print(int(np.average(lengths)))

187
4
26