In [1]:
import pandas as pd
import numpy as np
import string
import csv

In [2]:
print("OK")

OK

In [3]:
file_names = ['S08_question_answer_pairs', 'S09_question_answer_pairs', 'S10_question_answer_pairs']
fields = ['Question', 'Answer']

# initialize df with 1 row, later append all data to this df
df = pd.read_csv(".\\Datasets\\Question_Answering\\S08_question_answer_pairs.txt", sep='\t', usecols=fields, quoting=csv.QUOTE_NONE, encoding='latin-1').head(1)

In [4]:
df

                                            Question Answer
0  Was Abraham Lincoln the sixteenth President of...    yes

In [5]:
for file in file_names:
    curr_df = pd.read_csv(".\\Datasets\\Question_Answering\\" + file + ".txt", sep='\t', usecols=fields, quoting=csv.QUOTE_NONE, encoding='latin-1')
    df = pd.concat([df, curr_df], ignore_index=True)

# drop first dummy row from initialization
df = df.iloc[1:]

In [6]:
df.rename(columns={'Question': 'sentence', 'Answer': 'answer'}, inplace=True)
# drop duplicate sentences
df = df.drop_duplicates(subset=['sentence'])
df = df.reset_index(drop=True)
df['annotation'] = 'non_argument'
df = df[['sentence', 'annotation']]
df = df[df['sentence'].notna()]

In [7]:
# sentences = df['sentence']
# clean_sentences = []
# #map punctuation to space
# translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

# for sentence in sentences:
#     # replace punctuation marks with space
#     sentence = sentence.translate(translator)
#     # replace multiple spaces by 1 space
#     sentence = ' '.join(sentence.split())
#     clean_sentences.append(sentence)

In [8]:
# df['sentence'] = clean_sentences

In [9]:
df

                                               sentence    annotation
0     Was Abraham Lincoln the sixteenth President of...  non_argument
1     Did Lincoln sign the National Banking Act of 1...  non_argument
2                      Did his mother die of pneumonia?  non_argument
3         How many long was Lincoln's formal education?  non_argument
4          When did Lincoln begin his political career?  non_argument
...                                                 ...           ...
2452                                What do zebras eat?  non_argument
2453                        What are zebras hunted for?  non_argument
2454          What areas do the Grevy's Zebras inhabit?  non_argument
2455  Which species of zebra is known as the common ...  non_argument
2456                     At what age can a zebra breed?  non_argument

[2456 rows x 2 columns]

In [10]:
df.to_csv("non_arguments_questions_raw.csv", sep='\t', encoding='utf-8')

In [11]:
sents = df['sentence']

In [12]:
longest = 0
shortest = 10000
average = 0
lengths = []
for sentence in sents:
    length = len(sentence.split())
    lengths.append(length)
    if length > longest:
        longest = length
    if length < shortest:
        shortest = length

In [13]:
print(longest)
print(shortest)
print(int(np.average(lengths)))

106
1
9