In [1]:
# import documentgenerator
import string
import pandas as pd
import numpy as np
from essential_generators import DocumentGenerator

In [2]:
main = DocumentGenerator()

#map punctuation to space
translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

In [3]:
sents = []

for i in range(26000):
    sentence = main.sentence()
    # replace punctuation marks with space
    # sentence = sentence.translate(translator)
    # replace multiple spaces by 1 space
    if len(sentence.split()) >= 10: 
        #sentence = ' '.join(sentence.split())
        sents.append(sentence)
    else:
        continue

In [4]:
labels = ['non_argument'] * len(sents)

In [5]:
df = pd.DataFrame({'sentence': sents, 'annotation': labels})

In [6]:
df

                                                sentence    annotation
0      Zero. A time, this will deepen the river for p...  non_argument
1      Under these including lurs and the southern po...  non_argument
2      Stay as German Democratic Republic. In 1990, t...  non_argument
3      Major men's seventh-most visited city destinat...  non_argument
4      PhilPapers Normative The aim of restoring degr...  non_argument
...                                                  ...           ...
11592  Still require in Uganda was expelled by the lo...  non_argument
11593  Which views St. Paul and Elder state that comp...  non_argument
11594  Currently plays agreement, on 1 January 2007 p...  non_argument
11595  Heavy intensity. belong in an AND gate and sim...  non_argument
11596  About 29% the EEC in 1973 and 1985, respective...  non_argument

[11597 rows x 2 columns]

In [7]:
df.to_csv("non_arguments_random_raw.csv", sep='\t', encoding='utf-8')

In [8]:
sents = df['sentence']

In [9]:
longest = 0
shortest = 10000
average = 0
lengths = []
for sentence in sents:
    length = len(sentence.split())
    lengths.append(length)
    if length > longest:
        longest = length
    if length < shortest:
        shortest = length

In [10]:
print(longest)
print(shortest)
print(int(np.average(lengths)))

15
10
12